@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belanosima:wght@400;600&family=Dela+Gothic+One&family=Inter:wght@300;500&family=Mooli&family=Nunito:ital,wght@0,300;0,400;0,700;1,200&family=Poppins:wght@200;400;500;600;700&family=Raleway:ital,wght@0,100;0,300;1,300;1,600&family=Rubik:ital,wght@0,300;0,600;1,500;1,600&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
    box-sizing: border-box;
}
.footer{
    padding: 30px 40px;
    width: 100%;
    background: #ecf2f7;
}
.footer .container{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer .container .about{
    max-width: 30%;
}
.footer .container .about .detail p{
    margin-top: 20px;
    font-size: 16px;
    color: #010f1c;
}
.footer .container .about .detail .icon{
    margin-top: 20px;
    display: flex;
}
.footer .container .about .detail .icon li{
    margin-left: 20px;
    list-style: none;
    padding: 10px 10px;
    box-shadow: rgba(0,0,0,0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}
.footer .container .about .detail .icon li:hover{
    background: #4ea4f0;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.1s ease;
}
.footer .container .account{
    margin-right: 90px;
    margin-top: 30px;
}
.footer .container .account h3{
    font-size: 32px;
    color: #010f1c;
}
.footer .container .account ul{
    margin-top: 10px;
    margin-left: 20px;
}
.footer .container .account ul li{
    margin-top: 5px;
    color: #010f1c;
    font-size: 14px;
    cursor: pointer;
}
.footer .container .account ul li:hover{
    color: #4ea4f0;
}
.footer .container .page{
    margin-right: 90px;
    margin-top: 30px;
}
.footer .container .page h3{
    font-size: 32px;
    color: #010f1c;
}
.footer .container .page ul{
    margin-top: 10px;
    margin-left: 20px;
}
.footer .container .page ul li{
    margin-top: 5px;
    color: #010f1c;
    font-size: 14px;
    cursor: pointer;
}
.footer .container .page ul li:hover{
    color: #4ea4f0;
}